
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #1f2937;
    transition: background-color 0.3s, color 0.3s;
}

header{
    background-color: #1f2937;
    padding: 24px;

    color: aqua;
}
header h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}


footer{
    padding: 16px;
    color: #6b7280;
    background-color: #1f2937;
}

.case-Project{
    padding: 16px;
    border-radius: 12px;
    box-shadow: black;
    background-color: #1f2937 ;
}
